:root {
    --backgound-color: #ece6cd;
    --cyan: #148d8d;
    --dark-blue: #1a4a5a;
    --beige: #fcd8a6;
    --dark-beige: #efbc75;
    --green: #a6e5ad;
    --red: #f5b0ac;

    --size-elem-nav: 125px;
    --size-nav-icon: 70px;
}
