:root {
    --backgound-color: #ece6cd;
    --cyan: #148d8d;
    --dark-blue: #1a4a5a;
    --beige: #fcd8a6;
    --dark-beige: #efbc75;
    --green: #a6e5ad;
    --dark-green: #507855;
    --red: #f5b0ac;
    --dark-red: #7e3935;

    --size-elem-nav: 100px;
    --size-nav-icon: 50px;
}
