@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("./colors.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    /*width: 100%;*/
    /*min-height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--backgound-color);
}

.otp-input {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 5px;
    font-size: 28px;
    color: var(--dark-blue);
    border: 0;
    border-bottom: 4px solid var(--dark-blue);
    background: transparent;
    text-align: center;
    outline: 0;
    transition: border-bottom 0.2s;
}

.otp-input:focus {
    border-bottom: 4px solid var(--cyan);
    caret-color: transparent;
}

@media screen and (max-width: 600px) {
    .otp-input {
        width: 30px;
        height: 30px;
        margin: 0 3px;
        font-size: 20px;
        border-bottom: 3px solid var(--dark-blue);
    }
    .otp-input:focus {
        border-bottom: 3px solid var(--cyan);
    }
}

@media screen and (orientation: portrait) and (max-width: 450px) {
    .otp-input {
        width: 20px;
        height: 20px;
        padding: 0px;
        font-size: 13px;
        border-bottom: 2px solid var(--dark-blue);
    }
    .otp-input:focus {
        border-bottom: 2px solid var(--cyan);
    }
}

/* Background colour of an input field with value */
/* .otp-input.is-complete {
    background-color: #e4e4e4;
} */
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
